html {
    background-image: url('images/blackboard.jpg');
    color: white;
}

.tapRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.beerRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}
.beerName {
    font-size: 1.5em;
    font-weight: bold;
}
.beerDetails {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.floatRight {
    float: right;
}
table, td {
    border: 1px solid gray;
    border-collapse: collapse;
}
.smallTD {
    width: 5%;
    text-align: center;
}
.dividerTD {
    width: 2%;
}
.abv {
    font-size: 1.25em;
    color: orange;
}
.price {
    font-size: 2em;
    color: lightseagreen;
}