html {
    background-image: url('images/woodbackground.jpg');
}
body {
    /* color: white; */
    height: 95vh;
}
.hdrTitle {
    width: 35%;
    color: black;
    height: 1.2em;
    font-size: 3em;
    font-family: Miltonian Tattoo, serif;
    background-image: linear-gradient(lightblue, white);
    text-align: center;
    position: absolute;
    top: -90%;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
}
.wrapsBeerContainer {
    color: white;
    display: flex;
    justify-content: center;
    height: 90%;
}
.beerContainer {
    display: flex;
    justify-content: space-between;
    font-family: 'Architects Daughter', cursive;  
    /* font-family: 'Permanent Marker', cursive; */
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin-top: 4%;
    background-image: url('images/blackboard.jpg');
}
.beerContainer > div:first-child, .beerContainer > div:nth-child(2) {
    margin-top: 2.25em;
}
/* .beerContainer > div {
    flex: 48%;
    max-width: 48%; 
} */
.content {
    width: 100%;
    height: 4em;
    margin: 10px;
}
.beerName {
    font-size: 2.5em;
    padding-left: .25em;
}
.aboutBeer {
    font-size: 1.75em;
    padding-left: 10px;
}
.beerDetails {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 2px 10px 10px 0px;
}
.beerStyle {
    width: 80%;
    font-size: 1.5em;
}
.floatRight {
    float: right;
}

#tapTable {
    margin-top: 2em;
}
table {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
}
td {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
}
.smallTD {
    width: 5%;
    text-align: center;
}
.dividerTD {
    width: 2%;
    border-top: none;
    border-bottom: none;
}
.abv {
    font-size: 1.25em;
    color: orange;
}
.price {
    font-size: 2em;
    color: lightseagreen;
}
